.attributes_table {
  ul {
    margin: 0;
  }
  table th{
    width: 200px;
  }
  table tr.row-uuid td span{
    color: white;
    font-weight: bold;
    background: gray;
    padding: 3px;
  }
}

.attendance-comment {
  margin-top: 2em;

  h4 {
    margin-bottom: .5em;
  }

  p {
    margin-bottom: 0;
  }
}

