<% html_class = "checkbox-button#{' checkbox-button-checked' if family.arrival_scanned?}" %>
<%= link_to 'Checked In', toggle_admin_arrival_scanned_family_path(family), method: :post, class: html_class %>
<% if family.arrival_scanned? && family.arrival_scanned_at %>
  <div style="margin-top: 5px; font-size: 0.9em; color: #666;">
    Checked in at: <%= family.arrival_scanned_at.strftime('%B %d, %Y at %I:%M %p') %>
  </div>
<% end %> 