---
http_interactions:
- request:
    method: get
    uri: https://demo.docusign.net/restapi/v2/accounts/<DOCUSIGN_ACCOUNT_ID>/envelopes/aaabbbccc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Docusign-Authentication:
      - '{"Username":"<DOCUSIGN_USER_NAME>","Password":"<DOCUSIGN_PASSWORD>","IntegratorKey":"<DOCUSIGN_INTEGRATOR_KEY>"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Docusign-Tracetoken:
      - 53a30ed0-de41-4a1d-b4d1-477f87614151
    body:
      encoding: UTF-8
      string: "{\r\n  \"errorCode\": \"INVALID_REQUEST_PARAMETER\",\r\n  \"message\":
        \"The request contained at least one invalid parameter. Invalid value specified
        for envelopeId.\"\r\n}"
  recorded_at: Fri, 04 Jan 2019 00:31:13 GMT
recorded_with: VCR 4.0.0
