---
http_interactions:
- request:
    method: get
    uri: https://demo.docusign.net/restapi/v2/accounts/<DOCUSIGN_ACCOUNT_ID>/envelopes/d56a61b1-ac74-43ae-81f0-63e592890f93
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Docusign-Authentication:
      - '{"Username":"<DOCUSIGN_USER_NAME>","Password":"<DOCUSIGN_PASSWORD>","IntegratorKey":"<DOCUSIGN_INTEGRATOR_KEY>"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1546563600'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '991'
      X-Docusign-Tracetoken:
      - dcaafab4-618a-4e42-b462-8b51c7428ac2
    body:
      encoding: UTF-8
      string: "{\r\n  \"status\": \"voided\",\r\n  \"documentsUri\": \"/envelopes/d56a61b1-ac74-43ae-81f0-63e592890f93/documents\",\r\n
        \ \"recipientsUri\": \"/envelopes/d56a61b1-ac74-43ae-81f0-63e592890f93/recipients\",\r\n
        \ \"attachmentsUri\": \"/envelopes/d56a61b1-ac74-43ae-81f0-63e592890f93/attachments\",\r\n
        \ \"envelopeUri\": \"/envelopes/d56a61b1-ac74-43ae-81f0-63e592890f93\",\r\n
        \ \"emailSubject\": \"Testing docusign status\",\r\n  \"emailBlurb\": \"Envelope
        body content here\",\r\n  \"envelopeId\": \"d56a61b1-ac74-43ae-81f0-63e592890f93\",\r\n
        \ \"customFieldsUri\": \"/envelopes/d56a61b1-ac74-43ae-81f0-63e592890f93/custom_fields\",\r\n
        \ \"autoNavigation\": \"true\",\r\n  \"envelopeIdStamping\": \"true\",\r\n
        \ \"notificationUri\": \"/envelopes/d56a61b1-ac74-43ae-81f0-63e592890f93/notification\",\r\n
        \ \"enableWetSign\": \"true\",\r\n  \"allowMarkup\": \"false\",\r\n  \"allowReassign\":
        \"true\",\r\n  \"createdDateTime\": \"2018-12-24T19:36:56.9000000Z\",\r\n
        \ \"lastModifiedDateTime\": \"2018-12-28T19:25:20.3270000Z\",\r\n  \"initialSentDateTime\":
        \"2018-12-24T19:36:57.5570000Z\",\r\n  \"sentDateTime\": \"2018-12-24T19:36:57.5570000Z\",\r\n
        \ \"voidedDateTime\": \"2018-12-28T19:25:20.3270000Z\",\r\n  \"voidedReason\":
        \"Envelope voided via admin page\",\r\n  \"statusChangedDateTime\": \"2018-12-28T19:25:20.3270000Z\",\r\n
        \ \"documentsCombinedUri\": \"/envelopes/d56a61b1-ac74-43ae-81f0-63e592890f93/documents/combined\",\r\n
        \ \"certificateUri\": \"/envelopes/d56a61b1-ac74-43ae-81f0-63e592890f93/documents/certificate\",\r\n
        \ \"templatesUri\": \"/envelopes/d56a61b1-ac74-43ae-81f0-63e592890f93/templates\",\r\n
        \ \"purgeState\": \"unpurged\",\r\n  \"is21CFRPart11\": \"false\",\r\n  \"signerCanSignOnMobile\":
        \"true\",\r\n  \"isSignatureProviderEnvelope\": \"false\",\r\n  \"allowViewHistory\":
        \"true\"\r\n}"
  recorded_at: Fri, 04 Jan 2019 00:31:12 GMT
recorded_with: VCR 4.0.0
