---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v2/accounts/123456/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"sent","emailBlurb":"Envelope body content here","emailSubject":"Testing
        docusign status","templateId":"6dc20541-a4e1-4c25-9406-c1709a9c9527","enableWetSign":null,"brandId":null,"eventNotification":{},"templateRoles":[{"name":"Test
        Recipient","email":"test@example.com","roleName":"Parent","tabs":{"textTabs":[{"tabLabel":"Salary","name":"Salary","value":"100000","documentId":null,"selected":null,"locked":null},{"tabLabel":"Position
        Title","name":"Position Title","value":"CFO","documentId":null,"selected":null,"locked":null}],"checkboxTabs":[],"numberTabs":[],"radioGroupTabs":[],"fullNameTabs":[],"dateTabs":[]}}],"customFields":null,"allowReassign":null}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"docusign_test@example.com","Password":"1234abcd","IntegratorKey":"aabbccdd"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1545681600'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      X-Docusign-Tracetoken:
      - 7cf553ee-342b-4430-893f-4ece0f7a2db9
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"f7757bbb-4e72-49a0-881a-a15e0d2dae8d\",\r\n
        \ \"uri\": \"/envelopes/f7757bbb-4e72-49a0-881a-a15e0d2dae8d\",\r\n  \"statusDateTime\":
        \"2018-12-24T19:43:57.1630000Z\",\r\n  \"status\": \"sent\"\r\n}"
  recorded_at: Mon, 24 Dec 2018 19:43:57 GMT
recorded_with: VCR 4.0.0
