---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v2/accounts/<DOCUSIGN_ACCOUNT_ID>/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"sent","emailBlurb":"Envelope body content here","emailSubject":"Testing
        docusign status","templateId":"6dc20541-a4e1-4c25-9406-c1709a9c9527","enableWetSign":null,"brandId":null,"eventNotification":{},"templateRoles":[{"name":"Test
        Recipient","email":"test@example.com","roleName":"Parent","tabs":{"textTabs":[{"tabLabel":"Alergies","name":null,"value":"Peanut
        Butter","documentId":null,"selected":null,"locked":null},{"tabLabel":"Favourite
        Game","name":null,"value":"Tag","documentId":null,"selected":null,"locked":null}],"checkboxTabs":[],"numberTabs":[],"radioGroupTabs":[],"fullNameTabs":[],"dateTabs":[]}}],"customFields":null,"allowReassign":null}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"<DOCUSIGN_USER_NAME>","Password":"<DOCUSIGN_PASSWORD>","IntegratorKey":"<DOCUSIGN_INTEGRATOR_KEY>"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1546477200'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '996'
      X-Docusign-Tracetoken:
      - a251bd99-a9b4-4ee8-9b4f-b82f45532e35
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"6f858aef-00d1-4c6b-9836-1bd80cccfa28\",\r\n
        \ \"uri\": \"/envelopes/6f858aef-00d1-4c6b-9836-1bd80cccfa28\",\r\n  \"statusDateTime\":
        \"2019-01-03T00:33:37.6300000Z\",\r\n  \"status\": \"sent\"\r\n}"
  recorded_at: Thu, 03 Jan 2019 00:33:37 GMT
recorded_with: VCR 4.0.0
