---
http_interactions:
- request:
    method: put
    uri: https://demo.docusign.net/restapi/v2/accounts/<DOCUSIGN_ACCOUNT_ID>/envelopes/87840103-e43d-4817-be24-20b733552604
    body:
      encoding: UTF-8
      string: '{"status":"voided","voidedReason":"Envelope voided via admin page"}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"<DOCUSIGN_USER_NAME>","Password":"<DOCUSIGN_PASSWORD>","IntegratorKey":"<DOCUSIGN_INTEGRATOR_KEY>"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1546560000'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '997'
      X-Docusign-Tracetoken:
      - 93750210-afac-40fd-b82d-edb12286873e
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"87840103-e43d-4817-be24-20b733552604\"\r\n}"
  recorded_at: Thu, 03 Jan 2019 23:52:38 GMT
recorded_with: VCR 4.0.0
