---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v2/accounts/123456/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"sent","emailBlurb":"Envelope body content here","emailSubject":"Testing
        docusign status","templateId":"6dc20541-a4e1-4c25-9406-c1709a9c9526","enableWetSign":null,"brandId":null,"eventNotification":{},"templateRoles":[{"name":"Test
        Recipient","email":"test@example.com","roleName":"Parent","tabs":{"textTabs":[{"tabLabel":"Salary","name":"Salary","value":"100000","documentId":null,"selected":null,"locked":null},{"tabLabel":"Position
        Title","name":"Position Title","value":"CFO","documentId":null,"selected":null,"locked":null}],"checkboxTabs":[],"numberTabs":[],"radioGroupTabs":[],"fullNameTabs":[],"dateTabs":[]}}],"customFields":null,"allowReassign":null}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"docusign_test@example.com","Password":"1234abcd","IntegratorKey":"aabbccdd"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1545685200'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Docusign-Tracetoken:
      - 97d99623-9a84-4c48-bb69-77358ea8ae2c
    body:
      encoding: UTF-8
      string: "{\r\n  \"errorCode\": \"TEMPLATE_ID_INVALID\",\r\n  \"message\": \"Invalid
        template ID.\"\r\n}"
  recorded_at: Mon, 24 Dec 2018 20:30:59 GMT
recorded_with: VCR 4.0.0
