---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v2/accounts/123456/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"sent","emailBlurb":"This is just a test","emailSubject":"Test
        Docusign Envelope","templateId":"6dc20541-a4e1-4c25-9406-c1709a9c9527","enableWetSign":null,"brandId":null,"eventNotification":{},"templateRoles":[{"name":"test_recipient","email":"test_recipient@example.com","roleName":"Signer","tabs":{"textTabs":[],"checkboxTabs":[],"numberTabs":[],"radioGroupTabs":[],"fullNameTabs":[],"dateTabs":[]}}],"customFields":null,"allowReassign":null}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"docusign_test@example.com","Password":"1234abcd","IntegratorKey":"aabbccdd"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1546027200'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '996'
      X-Docusign-Tracetoken:
      - 2e994ecd-4952-47f2-8006-6afd6f13f274
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"1788bf48-cbe3-4ef0-92fb-70d7cda30c2c\",\r\n
        \ \"uri\": \"/envelopes/1788bf48-cbe3-4ef0-92fb-70d7cda30c2c\",\r\n  \"statusDateTime\":
        \"2018-12-28T19:52:54.5230000Z\",\r\n  \"status\": \"sent\"\r\n}"
  recorded_at: Fri, 28 Dec 2018 19:52:54 GMT
recorded_with: VCR 4.0.0
