---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v2/accounts/<DOCUSIGN_ACCOUNT_ID>/envelopes
    body:
      encoding: UTF-8
      string: '{"status":"sent","emailBlurb":null,"emailSubject":"Test Docusign Envelope","templateId":"12324324","enableWetSign":null,"brandId":null,"eventNotification":{},"templateRoles":[{"name":"test_recipient","email":"test_recipient@example.com","roleName":null,"tabs":{"textTabs":[],"checkboxTabs":[],"numberTabs":[],"radioGroupTabs":[],"fullNameTabs":[],"dateTabs":[]}}],"customFields":null,"allowReassign":null}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"<DOCUSIGN_USER_NAME>","Password":"<DOCUSIGN_PASSWORD>","IntegratorKey":"<DOCUSIGN_INTEGRATOR_KEY>"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Docusign-Tracetoken:
      - 32bd6878-a495-4670-975c-0528363d1d06
    body:
      encoding: UTF-8
      string: "{\r\n  \"errorCode\": \"INVALID_REQUEST_PARAMETER\",\r\n  \"message\":
        \"The request contained at least one invalid parameter. Invalid value specified
        for 'templateId'\"\r\n}"
  recorded_at: Thu, 03 Jan 2019 00:29:54 GMT
recorded_with: VCR 4.0.0
