---
http_interactions:
- request:
    method: put
    uri: https://demo.docusign.net/restapi/v2/accounts/<DOCUSIGN_ACCOUNT_ID>/envelopes/e0a9e52d-dcfc-4983-9e50-a9ad644f2864
    body:
      encoding: UTF-8
      string: '{"status":"voided","voidedReason":"Envelope voided via admin page"}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"<DOCUSIGN_USER_NAME>","Password":"<DOCUSIGN_PASSWORD>","IntegratorKey":"<DOCUSIGN_INTEGRATOR_KEY>"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1546560000'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Docusign-Tracetoken:
      - bd0da3a1-99f9-45c4-b8b4-7cc8180e598b
    body:
      encoding: UTF-8
      string: "{\r\n  \"envelopeId\": \"e0a9e52d-dcfc-4983-9e50-a9ad644f2864\"\r\n}"
  recorded_at: Thu, 03 Jan 2019 23:40:18 GMT
recorded_with: VCR 4.0.0
