---
http_interactions:
- request:
    method: put
    uri: https://demo.docusign.net/restapi/v2/accounts/<DOCUSIGN_ACCOUNT_ID>/envelopes/e0a9e52d-dcfc-4983-9e50-a9ad644f2864
    body:
      encoding: UTF-8
      string: '{"status":"voided","voidedReason":"Envelope voided via admin page"}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"<DOCUSIGN_USER_NAME>","Password":"<DOCUSIGN_PASSWORD>","IntegratorKey":"<DOCUSIGN_INTEGRATOR_KEY>"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1546560000'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      X-Docusign-Tracetoken:
      - b4066a58-1cf7-4626-a79c-18d0d8175e0f
    body:
      encoding: UTF-8
      string: "{\r\n  \"errorCode\": \"ENVELOPE_CANNOT_VOID_INVALID_STATE\",\r\n  \"message\":
        \"Only envelopes in the 'Sent' or 'Delivered' states may be voided.\"\r\n}"
  recorded_at: Thu, 03 Jan 2019 23:40:35 GMT
recorded_with: VCR 4.0.0
