---
http_interactions:
- request:
    method: put
    uri: https://demo.docusign.net/restapi/v2/accounts/<DOCUSIGN_ACCOUNT_ID>/envelopes/123-abc
    body:
      encoding: UTF-8
      string: '{"status":"voided","voidedReason":"Envelope voided via admin page"}'
    headers:
      X-Docusign-Authentication:
      - '{"Username":"<DOCUSIGN_USER_NAME>","Password":"<DOCUSIGN_PASSWORD>","IntegratorKey":"<DOCUSIGN_INTEGRATOR_KEY>"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Docusign-Tracetoken:
      - 2ba0fc8e-fff8-4ae3-99a6-17305798e121
    body:
      encoding: UTF-8
      string: "{\r\n  \"errorCode\": \"INVALID_REQUEST_PARAMETER\",\r\n  \"message\":
        \"The request contained at least one invalid parameter. Invalid value specified
        for envelopeId.\"\r\n}"
  recorded_at: Thu, 03 Jan 2019 23:40:19 GMT
recorded_with: VCR 4.0.0
