<h2 class="error-title">There was an error with your request.</h2>

<div class="error-message">
  <p>
    For assistance please contact our support team at <%= mail_to UserVariable[:support_email], UserVariable[:support_email] %>
  </p>
</div>
