<div class='precheck-container'>
  <%= image_tag(image_url('logo.png', host: ActionController::Base.asset_host), class: 'logo') %>

  <h1 class="greeting centered">Congratulations, your precheck is completed!</h1>
  <p class="centered">Your family have been successfully confirmed as prechecked for CRU conf 2019, and you should receive a confirmation email shortly with all the details for the event.</p>
</div>

