<h2 class="greeting centered">Congratulations, your precheck is completed!</h2>
<p class="centered">Your family have been successfully confirmed as prechecked for CRU conf 2019, and you should receive a confirmation email shortly with all the details for the event.</p>
