<h2 class="error-title centered">There was an error with your request</h2>
<div class="error-message centered">
  <p>Your family has already been confirmed for precheck</p>
  <p>or a change request has been made and is pending review.</p>
  <br>
  <br>
  <p>For further assistance, please contact our support team.</p>
</div>
