<div class='precheck-container'>
  <%= image_tag(UserVariable[:conference_logo_url]) %>
  <br>

  <h1 class="greeting"><%= t('.greeting', last_name: @family.last_name) %></h1>
  <br>

  <% if @family.pending_approval? %>
    <%= render 'pending_approval', family: @family, token: @token, finances: @finances, policy: @policy %>
  <% elsif @family.changes_requested? %>
    <%= render 'changes_requested', family: @family, finances: @finances, policy: @policy %>
  <% end %>

  <br>
</div>
