<div class='precheck-container'>
  <%= image_tag(UserVariable[:conference_logo_url]) %>

  <h1 class="greeting centered">Precheck review request received</h1>
  <p class="centered">The conference team have been notified of your request and will contact you as soon as possible.</p>
</div>
