<p>
  Dear Parent:
</p>

<p>
  Good news! <%= @child.full_name_tag %>'s forms are successfully submitted and have been reviewed. Everything is complete and we have all of the information that we need for your child to enter into our program.
</p>

<p>
There is nothing more for you to do related to CruKids before your arrival for Cru25 except to look for a PreCheck email two weeks before your arrival.
</p>

<p>
At that time, you will be able to view and confirm your conference details before your arrival, including your CruKids participation, to qualify for PreCheck at Cru25.
</p>

<p>
If you have questions, please email <%= mail_to('Cru25.Info@cru.org') %>.
</p>

<p>
  Thanks, <br>
  Team25
</p>