<p>
  Dear Parent:
</p>

<p>
  Good news! <%= @child.first_name_tag %>'s forms are successfully submitted and have been reviewed. Everything is complete and we have all of the information that we need for your child to enter into our program.
</p>

<p>
  There is nothing more for you to do related to CruKids before your arrival for Cru19 except to look for a PreCheck email seven to ten days before your arrival.
</p>

<p>
  At that time, you will be able to view and confirm your conference details before your arrival, including your on-campus housing assignment (if applicable) and CruKids participation to qualify for PreCheck at Cru19.
</p>

<p>
  To help familiarize you with PreCheck, please view this <a href="https://www.cru.org/cru19/precheck/">short video</a> that describes this new experience. If you have questions, please email <%= mail_to('Cru19.Info@cru.org') %>.
</p>

<p>
  Thanks, <br>
  Team19
</p>