<p>
  <strong>MEDIA RELEASE:</strong> By participating in Summer17/Cru17, You understand that Your <strong>voice, image, or likeness</strong>
  may be photographed and/or recorded at Summer17/Cru17, or in travel to and from the location, or on or around the CSU campus.
  You irrevocably grant to Ministry the perpetual, royalty-free license and permission to use, reuse, publish, republish, display, store,
  transmit, use as stock footage, alter, edit and make derivative works from Your <strong>voice, image, or likeness in a recording and/or photograph</strong>,
  and to the extent provided by You, name and biography, as included in video or audio recordings or photographs from the event, in whole or in part, at Cru’s sole discretion, in conjunction with the Cru Uses and promotion thereof. Cru Uses include, but are not limited to uses in ministry activity, products, films, videos, print, website postings, radio programs, advertising, publicity, and/or promotional materials in all media, devices, or formats now existing or later developed for commercial and non-commercial use.
</p>
<p>
  <strong>If you do not wish to be photographed or recorded</strong>, please let us know by contacting Cru17.MediaReleases@cru.org as well as wearing your light blue lanyard to all Summer17/Cru17 events. If you need a light blue lanyard, please see the Cru17 Information Services Team in the Durrell Center.
</p>