<p>Welcome to Summer17/Cru17!</p>

<p>Below is your conference registration summary.

<p>For questions regarding: <br>
Kids Care / Kids Camp, please contact Cru17.Childcare@cru.org <br>
Jr. High / Sr. High Program, please contact Cru17.JrSrHigh@cru.org <br>
finances, please contact Cru17.Finance@cru.org <br>
anything else, please contact Cru17.Info@cru.org <br>
Sincerely, <br><br>

  Team17</p>

<%= render 'families/family_summary', family: @family, finances: @finances, policy: @policy %>