<%= image_tag(UserVariable[:conference_logo_url], size: '50') %>

<h3>Family <%= @family.last_name %> (staff number: <%= @family.staff_number %>) rejected the precheck process with the following message:</h3>
<p><%= @message %></p>
