<%= image_tag(UserVariable[:conference_logo_url], size: '50') %>

<h3>Confirm the following data</h3>

<%= link_to 'Confirm Precheck or Request Changes', precheck_email_url(auth_token: @token.token) %>
