<p>
  <%= t('precheck.status.not_precheck_eligible.not_precheck_eligible_preamble') %>
</p>
<br>

<% precheck_eligibility_actionable_errors(@family).each do |error| %>
  <p>
    <%= t("precheck.status.not_precheck_eligible.eligibility_errors.#{error}") %>
  </p>
  <br>
<% end %>

<%= link_to t('.link'), precheck_status_url(token: @token.token) %>
