.housing_preference_attributes {
  .confirmed_at {
    &__toggle {
      @extend .status_tag !optional;

      cursor: pointer;
    }
  }
}

.families {
  .spinner-widget {
    margin-left: 1em;
    margin-top: 2px;
  }
}
