.precheck-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 20px 100px 20px;
  box-sizing: border-box;

  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .precheck-container {
      width: 85%;
      padding: 0; }
  }

  p, ul, blockquote {
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  .centered {
    text-align: center;
  }

  .logo {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 200px
  }

  .greeting {
    margin-top: 40px;
  }

  form {
    display: inline-block;
  }

  textarea {
    width: calc(100% - 20px);
    margin-top: 1rem;
    font-size: 1rem;
  }

  textarea::placeholder {
    opacity: 0.6;
  }

  select {
    width: calc(80% - 22px);
    border: 1px solid #c9d0d6;
    border-radius: 3px;
    padding: 8px 10px 7px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1rem;
  }

  small {
    font-size: 80%;
  }

  .btn {
    background-image: linear-gradient(180deg, #7e7e7e, #000);
    border-color: #27e833;
    background-color: #27e833;

    margin-top: 20px;
    width: 330px;
    height: 50px;
    font-size: 1rem;
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
    text-shadow: #000 0 1px 0;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
    border: solid 1px #484e53;
    color: #efefef;
    cursor: pointer;
  }

  a.btn {
    line-height: 50px;
  }

  .btn-confirm {
    background-image: linear-gradient(180deg, #27e833, #2a9131);
    border-color: #2a9131;
    background-color: #27e833;
  }

  .btn-confirm:hover {
    background-color: #27e833;
    background-image: linear-gradient(180deg, #27e833, #25c630) !important;
  }

  .btn-cancel {
    background-image: linear-gradient(180deg, #f71c1c, #6f0000);
    border-color: #6f0000;
    background-color: #a50d0d;
  }

  .btn-cancel:hover {
    background-color: #27e833;
    background-image: linear-gradient(180deg, #fd3030, #9e0303) !important;
  }

  .error-logo {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 300px
  }

  .error-title {
    margin-top: 40px;
  }
}




