.precheck-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 20px 100px 20px;
  box-sizing: border-box;

  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .precheck-container {
      width: 85%;
      padding: 0; }
  }

  p {
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  .centered {
    text-align: center;
  }

  .logo {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 200px
  }

  .greeting {
    margin-top: 40px;
  }

  form {
    display: inline-block;
  }

  textarea {
    width: calc(100% - 20px);
    margin-top: 1rem;
    font-size: 1.3rem;
  }

  textarea::placeholder {
    opacity: 0.6;
  }

  .btn {
    background-image: linear-gradient(180deg, #7e7e7e, #000);
    border-color: #005765;
    background-color: #005765;

    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    border-radius: 200px;
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
    text-shadow: #000 0 1px 0;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
    border: solid 1px #484e53;
    color: #efefef;
    cursor: pointer;
  }

  a.btn {
    line-height: 50px;
  }

  .btn-confirm {
    background-image: linear-gradient(180deg, #06b0cc, #005765);
    border-color: #005765;
    background-color: #005765;
  }

  .btn-confirm:hover {
    background-color: #005765;
    background-image: linear-gradient(180deg, #30c9e0, #006e80) !important;
  }

  .btn-cancel {
    background-image: linear-gradient(180deg, #f71c1c, #6f0000);
    border-color: #6f0000;
    background-color: #a50d0d;
  }

  .btn-cancel:hover {
    background-color: #005765;
    background-image: linear-gradient(180deg, #fd3030, #9e0303) !important;
  }

  .error-logo {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 300px
  }

  .error-title {
    margin-top: 40px;
  }
}




