$dropdown-size: 13px;
$dropdown-bg: linear-gradient(#eee 20%, #fff 80%);
$dropdown-border-color: #aaa;
$dropdown-border-radius: 5px;

$dropdown-menu-width: 100%;

$dropdown-item-spacing-v: 4px;
$dropdown-item-spacing-h: 8px;

$dropdown-item-bg: #fff;
$dropdown-item-selected-bg: linear-gradient(#3875d7 20%, #2a62bc 90%);
$dropdown-item-hover-bg: $dropdown-item-selected-bg;
$dropdown-item-focus-bg: $dropdown-item-selected-bg;


$dropdown-item-color: #000;

$dropdown-item-selected-color: #fff;
$dropdown-item-hover-color: $dropdown-item-selected-color;
$dropdown-item-focus-color: $dropdown-item-selected-color;

$dropdown-button-bg: transparent;

.dropdown {
  width: 80%;
  z-index: initial !important;

  a, a:link { color: black; }

  &-toggle {
    width: 100%;
    border: 1px solid $dropdown-border-color;
  }

  a {
    &:link,
    &:hover {
      text-decoration: none;
    }
  }
}
